on:
  push:
    tags:
      - 'v*'

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # 権限設定
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Build - Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          args: -file-line-error -halt-on-error -interaction=nonstopmode
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
          files: |
            main.pdf